n8n-workflows/ai-chronicle-generator.json
{
    "name": "Kronikne - AI Chronicle Generator",
    "nodes": [
        {
            "parameters": {},
            "id": "manual-trigger",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "http://localhost:3000/api/cars?format=minimal",
                "options": {}
            },
            "id": "get-cars",
            "name": "Get Car List",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-cars",
            "name": "Loop Cars",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "model": "llama3.1:8b",
                "messages": {
                    "values": [
                        {
                            "role": "user",
                            "content": "=Sen Türkiye'de 20 yıllık deneyimli bir oto tamircisisin.\n\n{{ $json.brand }} {{ $json.model }} {{ $json.variant }} ({{ $json.years }}) aracı hakkında bildiklerini JSON formatında yaz.\n\nYanıtın SADECE JSON olsun, başka bir şey yazma:\n{\n  \"expertNote\": \"1-2 cümlelik sanayi notu, samimi dil kullan\",\n  \"issues\": [\n    {\n      \"title\": \"Sorun başlığı\",\n      \"description\": \"Detaylı açıklama\",\n      \"category\": \"motor\",\n      \"riskLevel\": \"HIGH\",\n      \"affectedKm\": \"80.000+ km\",\n      \"repairCost\": \"15.000 - 25.000 TL\"\n    }\n  ],\n  \"pros\": [\"artı 1\", \"artı 2\", \"artı 3\"],\n  \"cons\": [\"eksi 1\", \"eksi 2\", \"eksi 3\"],\n  \"buyingTips\": [\"ipucu 1\", \"ipucu 2\"]\n}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "ollama-generate",
            "name": "Generate Chronicle",
            "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
            "typeVersion": 1,
            "position": [
                660,
                0
            ],
            "credentials": {
                "ollamaApi": {
                    "id": "ollama",
                    "name": "Ollama account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response\nconst input = $input.first().json;\nconst aiResponse = input.message?.content || input.response || '';\n\nlet parsed = {};\ntry {\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  parsed = { expertNote: null, issues: [], pros: [], cons: [], buyingTips: [] };\n}\n\nreturn [{\n  json: {\n    carSlug: input.slug || $('Loop Cars').first().json.slug,\n    expertNote: parsed.expertNote || null,\n    issues: parsed.issues || [],\n    pros: parsed.pros || [],\n    cons: parsed.cons || [],\n    buyingTips: parsed.buyingTips || [],\n    source: 'ai-generated',\n    sourceUrl: null\n  }\n}];"
            },
            "id": "parse-response",
            "name": "Parse Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/api/chronicle",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "krn_74770f44e8570a06b1bbb0e01b213ac3080e23a43c67b7e3d145860cf8a3d967"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "id": "save-chronicle",
            "name": "Save to Kronikne",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1100,
                0
            ]
        },
        {
            "parameters": {
                "amount": 5,
                "unit": "seconds"
            },
            "id": "wait",
            "name": "Wait 5s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1320,
                0
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Get Car List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Car List": {
            "main": [
                [
                    {
                        "node": "Loop Cars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Cars": {
            "main": [
                [
                    {
                        "node": "Generate Chronicle",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "Generate Chronicle": {
            "main": [
                [
                    {
                        "node": "Parse Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Response": {
            "main": [
                [
                    {
                        "node": "Save to Kronikne",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Kronikne": {
            "main": [
                [
                    {
                        "node": "Wait 5s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 5s": {
            "main": [
                [
                    {
                        "node": "Loop Cars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        "kronikne",
        "ai",
        "generator"
    ]
}