n8n-workflows/sikayetvar-scraper.json
{
    "name": "Kronikne - Sikayetvar Scraper",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 24
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Daily Schedule",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "url": "={{$env.KRONIKNE_API_URL}}/api/cars?format=minimal",
                "options": {}
            },
            "id": "get-cars",
            "name": "Get Car List",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "loop-cars",
            "name": "Loop Cars",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "url": "=https://www.sikayetvar.com/{{ $json.brand.toLowerCase().replace(' ', '-') }}-{{ $json.model.toLowerCase().replace(' ', '-') }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "scrape-sikayetvar",
            "name": "Scrape Şikayetvar",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Extract complaints from HTML\nconst html = items[0].json.data || '';\n\n// Simple regex to extract complaint texts\nconst complaintPattern = /<div class=\"complaint-detail[^\"]*\"[^>]*>([\\s\\S]*?)<\\/div>/gi;\nconst matches = html.match(complaintPattern) || [];\n\n// Clean and extract text\nconst complaints = matches.slice(0, 20).map((match, index) => {\n  // Remove HTML tags\n  const text = match.replace(/<[^>]*>/g, '').trim();\n  return {\n    id: index,\n    text: text.substring(0, 500)\n  };\n});\n\nreturn [{\n  json: {\n    carSlug: items[0].json.slug,\n    brand: items[0].json.brand,\n    model: items[0].json.model,\n    complaints: complaints\n  }\n}];"
            },
            "id": "extract-complaints",
            "name": "Extract Complaints",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                880,
                0
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "mode": "list",
                    "value": "llama3.1:70b-instruct-q4_K_M"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=Sen bir uzman oto tamircisisin. Aşağıdaki şikayetleri analiz et ve araç için kronik oluştur.\n\nAraç: {{ $json.brand }} {{ $json.model }}\n\nŞikayetler:\n{{ $json.complaints.map(c => c.text).join('\\n\\n') }}\n\nJSON formatında yanıt ver:\n{\n  \"expertNote\": \"Sanayi notu - 1-2 cümle\",\n  \"issues\": [\n    {\n      \"title\": \"Sorun başlığı\",\n      \"description\": \"Detaylı açıklama\",\n      \"category\": \"motor|sanziman|elektronik|govde|fren|suspansiyon\",\n      \"riskLevel\": \"CRITICAL|HIGH|MEDIUM|LOW\",\n      \"affectedKm\": \"örn: 50.000+ km\",\n      \"repairCost\": \"örn: 10.000 - 20.000 TL\"\n    }\n  ],\n  \"pros\": [\"artı 1\", \"artı 2\"],\n  \"cons\": [\"eksi 1\", \"eksi 2\"],\n  \"buyingTips\": [\"ipucu 1\", \"ipucu 2\"]\n}"
                        }
                    ]
                },
                "options": {
                    "baseUrl": "={{$env.OLLAMA_URL || 'http://localhost:11434'}}"
                }
            },
            "id": "ai-analyze",
            "name": "AI Analyze",
            "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
            "typeVersion": 1,
            "position": [
                1100,
                0
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response and prepare for API\nconst aiResponse = items[0].json.response;\nlet parsed;\n\ntry {\n  // Extract JSON from response\n  const jsonMatch = aiResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    parsed = JSON.parse(jsonMatch[0]);\n  }\n} catch (e) {\n  parsed = {\n    expertNote: null,\n    issues: [],\n    pros: [],\n    cons: [],\n    buyingTips: []\n  };\n}\n\nreturn [{\n  json: {\n    carSlug: items[0].json.carSlug,\n    expertNote: parsed.expertNote,\n    issues: parsed.issues || [],\n    pros: parsed.pros || [],\n    cons: parsed.cons || [],\n    buyingTips: parsed.buyingTips || [],\n    source: 'sikayetvar',\n    sourceUrl: `https://www.sikayetvar.com/${items[0].json.brand.toLowerCase()}-${items[0].json.model.toLowerCase()}`\n  }\n}];"
            },
            "id": "parse-response",
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1320,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{$env.KRONIKNE_API_URL}}/api/chronicle",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "x-api-key",
                            "value": "={{$env.KRONIKNE_API_KEY}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "carSlug",
                            "value": "={{ $json.carSlug }}"
                        },
                        {
                            "name": "expertNote",
                            "value": "={{ $json.expertNote }}"
                        },
                        {
                            "name": "issues",
                            "value": "={{ $json.issues }}"
                        },
                        {
                            "name": "pros",
                            "value": "={{ $json.pros }}"
                        },
                        {
                            "name": "cons",
                            "value": "={{ $json.cons }}"
                        },
                        {
                            "name": "buyingTips",
                            "value": "={{ $json.buyingTips }}"
                        },
                        {
                            "name": "source",
                            "value": "={{ $json.source }}"
                        },
                        {
                            "name": "sourceUrl",
                            "value": "={{ $json.sourceUrl }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "save-chronicle",
            "name": "Save to Kronikne",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1540,
                0
            ]
        },
        {
            "parameters": {
                "amount": 2000
            },
            "id": "wait",
            "name": "Rate Limit Wait",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1760,
                0
            ]
        }
    ],
    "connections": {
        "Daily Schedule": {
            "main": [
                [
                    {
                        "node": "Get Car List",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Car List": {
            "main": [
                [
                    {
                        "node": "Loop Cars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Loop Cars": {
            "main": [
                [
                    {
                        "node": "Scrape Şikayetvar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Scrape Şikayetvar": {
            "main": [
                [
                    {
                        "node": "Extract Complaints",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Complaints": {
            "main": [
                [
                    {
                        "node": "AI Analyze",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Analyze": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Save to Kronikne",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save to Kronikne": {
            "main": [
                [
                    {
                        "node": "Rate Limit Wait",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Rate Limit Wait": {
            "main": [
                [
                    {
                        "node": "Loop Cars",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        "kronikne",
        "scraper",
        "automation"
    ]
}